{extend name="public/base" /}
{block name="main-container"}
<article class="main-auth">
    <div class="layui-tab mt0">
        <ul class="layui-tab-title new-tab">
            <li class="layui-this">角色列表</li>
            <li>添加角色</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show" id="article-list">
                {include file="role/list" /}
            </div>
            <div class="layui-tab-item">
                {include file="role/create" /}
            </div>
        </div>
    </div>
</article>
{/block}
