{extend name="public/base" /}
{block name="main-container"}
<article class="main-article">
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">广告列表</li>
            <li>添加广告</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show" id="article-list">
                {include file="ad/list" /}
            </div>
            <div class="layui-tab-item">
                {include file="ad/create" /}
            </div>
        </div>
    </div>
</article>
{/block}
