<header class="category-filter layui-form">
    <div class="layui-form-item">
        <select name="category_filter" lay-filter="categoryFilter">
            <option value="0">全部作品</option>
            {volist name="categorys" id="category"}
            {present name="category.leaf"}
            <option value="{$category.id}" disabled>{php}echo str_repeat("&nbsp;&nbsp;",$category['level']).dec2roman($category['level']);{/php}—{$category.name}</option>
            {else/}
            <option value="{$category.id}"{eq name='Request.param.cid' value='$category.id'} selected{/eq}>{php}echo str_repeat("&nbsp;&nbsp;",$category['level']).dec2roman($category['level']);{/php}—{$category.name}</option>
            {/present}
            {/volist}
        </select>
    </div>
</header>
<table class="layui-table">
    <thead>
    <tr>
        <td>作品编号</td>
        <td>作品标题</td>
        <td>发布人</td>
        <td>更新时间</td>
        <td>作品状态</td>
        <td>管理操作</td>
    </tr>
    </thead>
    {present name='works'}
    {volist name='works' id='work'}
    <tr>
        <td>{$work.id}</td>
        <td>{$work.name}</td>
        <td>{$work.member.username}</td>
        <td>{$work.update_time}</td>
        <td class="layui-form">
            <input type="checkbox" lay-skin="switch" lay-filter="status" lay-text="ON|OFF" data-id="{$work.id}"  value="1" {eq name="work.status" value="1"} checked{/eq}>
        </td>
        <td class="textalign">
            <a href="javascript:works.edit('{$work.id}');" class="layui-btn layui-btn-small btn-success">
                <i class="layui-icon">&#xe642;</i>编辑
            </a>
            <a href="javascript:works.delete('{$work.id}');"  class="layui-btn layui-btn-small btn-danger">
                <i class="layui-icon">&#xe640;</i>删除
            </a>
        </td>
    </tr>
    {/volist}
    {/present}
</table>
<div class="fr mt20">
    总记录数：{$works->total()} {$works->render()}
</div>
