<form class="layui-form m20">
    <div class="layui-form-item" id="article-category">
        <label class="layui-form-label">栏目分类</label>
        <div class="layui-input-inline">
            <select name="category_id" lay-filter="categoryId">
                {volist name="categorys" id="category"}
                {present name="category.leaf"}
                <option value="{$category.id}" disabled>{php}echo str_repeat("&nbsp;&nbsp;",$category['level']).dec2roman($category['level']);{/php}—{$category.name}</option>
                {else/}
                <option value="{$category.id}" {eq name="category.id" value="$article.category_id" }selected{/eq}>{php}echo str_repeat("&nbsp;&nbsp;",$category['level']).dec2roman($category['level']);{/php}—{$category.name}</option>
                {/present}
                {/volist}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">文章标题</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" lay-verify="required" placeholder="请输入标题" name="name" value="{$article.name}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">文件头</label>
        <div class="layui-input-inline">
            <select class="select-library"  name='tag'  lay-filter="tag" lay-verify="tag">
                <option value="0">选择文件头</option>
                {volist name="library" id="vo"}
                <option value="{$vo.id}" {if condition="$vo.id eq $article.tag"} selected {/if}>{$vo.name}</option>
                {/volist}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否签收</label>
        <div class="layui-input-block signblock_1">
            {empty name="$article.departments"}
                <input type="radio" name="sign_1" value="0" title="否" checked="" lay-filter="sign_1">
                <input type="radio" name="sign_1" value="1" title="是" lay-filter="sign_1">
            {else /}
                <input type="radio" name="sign_1" value="0" title="否" lay-filter="sign_1">
                <input type="radio" name="sign_1" value="1" title="是" checked="" lay-filter="sign_1">
            {/empty}
        </div>
    </div>

    {empty name="$article.departments"}
    <div class="layui-form-item signDepartment_1 hide">
        <label class="layui-form-label">签收部门</label>
        <div class="layui-input-block" style="width: 800px">
            {present name='department'}
            {volist name='department' id='vo'}
                {in name="$vo.id" value="$article.departments"}
                <input type="checkbox" name="department" title="{$vo.department_name}" value="{$vo.id}" checked>
                {else/}
                <input type="checkbox" name="department" title="{$vo.department_name}" value="{$vo.id}">
                {/in}
            {/volist}
            {/present}
        </div>
    </div>
    {else /}
    <div class="layui-form-item signDepartment_1">
        <label class="layui-form-label">签收部门</label>
        <div class="layui-input-block" style="width: 800px">
            {present name='department'}
            {volist name='department' id='vo'}
            {in name="$vo.id" value="$article.departments"}
            <input type="checkbox" name="department" title="{$vo.department_name}" value="{$vo.id}" checked>
            {else/}
            <input type="checkbox" name="department" title="{$vo.department_name}" value="{$vo.id}">
            {/in}
            {/volist}
            {/present}
        </div>
    </div>
    {/empty}


    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">文章摘要</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea" placeholder="请输入摘要" lay-verify="required" name="desc">{$article.desc}</textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">文章来源</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" placeholder="请输入来源" name="source" value="{$article.source}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">文章作者</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" placeholder="请输入作者" name="author" value="{$article.author}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">文章封面</label>
        <div class="layui-input-block">
            <div class="cover-upload">
                <img data-path="__UPLOAD__" id="edit-cover-src" data-src="__UPLOAD__/{$article.cover}" {empty name="article.cover"}class="hidden"{else/}src="__UPLOAD__/{$article.cover}"{/empty}>
                <div class="site-demo-upbar mt10">
                    <input type="file" name="cover" class="layui-upload-file"  lay-ext="jpg|png|gif" id="edit-cover">
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">文章内容</label>
        <div class="layui-input-block">
            <!-- 加载编辑器的容器 -->
            <script id="edit-container-{$article.id}" name="content" type="text/plain">{$article.content}</script>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否顶置</label>
        <div class="layui-input-block">
            {if condition="$article.is_top == 1"}
            <input type="checkbox" name="is_top" lay-skin="switch" lay-text="ON|OFF" checked>
            {else /}
            <input type="checkbox" name="is_top" lay-skin="switch" lay-text="ON|OFF">
            {/if}
        </div>
    </div>

    <div class="layui-input-block">
        <input type="hidden" name="id" value="{$article.id}">
        <input type="hidden" name="categoryChecked" value="{$categoryChecked}">
        <input type="hidden" name="checked" value="{$checked}">
        <a class="layui-btn save-btn" lay-filter="save" lay-submit>保存</a>
        <input type="reset" class="layui-btn layui-btn-primary goback" value="重置">
    </div>
</form>
<script>
    UE.getEditor("edit-container-{$article.id}", {
        authHeight: false
    });
</script>