<header class="category-filter layui-form">
    <div class="layui-form-item">

        <div class="layui-input-inline mr10">
            <select name="caterory_id" id="caterory_id">
                {if condition="empty($search)"}
                    <option value="0">全部文章</option>
                    {volist name="categorys" id="category"}
                    <option value="{$category.id}">&nbsp&nbsp&nbsp|—{$category.name}</option>
                    {/volist}
                {else/}
                    <option value="0">全部文章</option>
                    {volist name="categorys" id="category"}
                    <option value="{$category.id}" {if condition="$search.category_id eq $category.id"}selected{/if}>&nbsp&nbsp&nbsp|—{$category.name}</option>
                    {/volist}

                {/if}
            </select>
        </div>

        <div class="layui-input-inline mr10">
            <select name="check_status" id="check_status">
                {if condition="empty($search)"}
                <option value="2">全部</option>
                <option value="0" >未发布</option>
                <option value="1" >已发布</option>
                {else/}
                <option value="2" {if condition="$search.check_status eq 2"}selected{/if}>全部</option>
                <option value="0" {if condition="$search.check_status eq 0"}selected{/if}>未发布</option>
                <option value="1" {if condition="$search.check_status eq 1"}selected{/if}>已发布</option>
                {/if}
            </select>
        </div>

        <a href="javascript:article.search();" class="layui-btn btn-secondary mb5" >搜索</a>

    </div>
</header>

<essay class="main-essay">
    <div class="layui-tab-item layui-show fl" style="width: 100%;">
        <div class="essay">
            <ul class="essaylist">
                {present name='articles'}
                {volist name='articles' id='vo'}
                <li class="essayli" id="{$vo.id}">
                    <div class="btns pt15">
                        {eq name="power.operation_update" value="1"}
                        <a href="javascript:article.edit('{$vo.id}');" class="layui-btn layui-btn-small btn-success" >
                            编辑
                        </a>
                        {/eq}
                        {eq name="power.operation_delete" value="1"}
                        <a href="javascript:article.delete('{$vo.id}');" class="layui-btn layui-btn-small btn-success" >
                            删除
                        </a>
                        {/eq}
                        {eq name="power.operation_check" value="1"}
                        <a href="javascript:article.check('{$vo.id}');" class="layui-btn layui-btn-small btn-success" >
                            审核
                        </a>
                        {/eq}
                    </div>
                    <div class="img">
                        <img src="__UPLOAD__/{$vo.cover}" alt="文章摘要：{$vo.desc}" class="images" />
                    </div>
                    <span class="words">标题：{$vo.name}</span>

                    {eq name="vo.check_status" value="1"}
                        <span class="words" style="color: #1E9FFF">状态：已发布&nbsp&nbsp&nbsp&nbsp浏览量：{$vo.view}</span>
                    {else /}
                        <span class="words" style="color: red">状态：未发布</span>
                    {/eq}
                    <span class="">发布人：{$vo.member.username}</span>
                    <span class="">更新时间：{$vo.update_time}</span>
                </li>
                {/volist}
                {/present}
            </ul>
        </div>
    </div>
    <div class="fr mt20">
        总记录数：{$articles->total()} {$articles->render()}
    </div>
</essay>



